html,
body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

aside {
    width: 120px;
    position: fixed;
    height: 100%;
    background: #444;
    z-index: 4;
}
.top-logo {
    padding: 13px 10px;
    text-align: center;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    position: relative;
    z-index: 5;
}
.top-logo img {
    max-width: 73%;
}
.main-content {
    padding-left: 140px;
    padding-top: 20px;
}
.main-content-no-sidebar {
    padding-top: 65px;
}
nav.navbar.navbar-default {
    margin: 0;
    width: 100%;
    position: fixed;
    z-index: 5;
}
.top-header-logo {
    width: 145px;
    padding: 5px 15px;
}
.top-header-logo img {
    max-width: 100%;
    display: block;
    max-height: 40px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.nav > li > a.user-menu-item {
    padding: 9px 10px;
}
.nav > li > a.user-menu-item img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 4px;
}

.navbar.navbar-default {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #eee;
}

.logout-button {
    padding: 3px 20px !important;
    color: #333 !important;
    margin: 0;
    text-align: left;
    line-height: 1.42857143 !important;
    border: 0 !important;
}
.btn.btn-link.logout-button:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}
.articles-list {
    margin-bottom: 30px;
}
.articles-list article:first-child {
    margin-top: 0;
}
.articles-list article:last-child {
    margin-bottom: 0;
}
.page-title {
    margin-bottom: 30px;
    margin-top: 0;
}
article {
    position: relative;
    padding: 15px;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    min-height: 130px;
    margin: 30px 0;
}
.article-content {
    padding-left: 115px;
    width: 100%;
}
.article-image {
    position: absolute;
    width: 100px;
}
.article-image img {
    max-width: 100%;
    border-radius: 50%;
}
.article-title {
    font-size: 18px;
    margin-bottom: 10px;
}
.article-buttons {
    margin-top: 15px;
    text-align: right;
}
.filter-title {
    padding: 15px 0 7px 0;
    margin-bottom: 7px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
}
.filter-content .nav-pills > li > a {
    border-radius: 0;
}

.checkbox-list li a {
    padding: 0 10px 0 0;
}

.checkbox-list li a:hover span {
    color: #777;
}
.checkbox-list li a:hover span i:before {
    visibility: visible;
}
.checkbox-list li.checked a:hover span {
    color: #fff;
}
.checkbox-list li.checked a span i:before {
    visibility: visible;
}
.checkbox-list li.checked a span {
    background: #5bae5c;
    color: #fff;
}

.checkbox-list li.active a span {
    color: #fff;
}
.checkbox-list li a span {
    display: inline-block;
    padding: 7px 10px;
    color: #999;
    margin-right: 10px;
}
.aside-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
.aside-nav li a {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 15px 0;
}
.aside-nav li.active a {
    background: #fff;
    color: #333;
}
.aside-nav li.active a span {
    color: #fec20e;
}
.aside-nav li a:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}
.aside-nav li.active a:hover {
    background: #fff
}
.aside-nav li span {
    display: block;
    font-size: 40px;
    color: #fff;
    line-height: 1;
    margin-bottom: 7px;
}

.user-widget {
    display: block;
    padding: 15px 5px;
    text-align: center;
    color: #fff;
}
.user-widget .user-avatar {
    height: 60px;
    margin-bottom: 10px;
}
.user-widget:hover {
    color: #fff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}
.user-widget img {
    border-radius: 50%;
    margin-bottom: 10px;
}